<section class="flex justify-between max-md:flex-col p-8 md:p-12 gap-8">
  <img
    src="assets/images/people.jpg"
    alt="Hero Card"
    class="object-cover rounded-lg w-[555px] h-[407px]"
  />
  <div class="flex flex-col items-end">
    <div class="flex flex-col items-start w-2/3">
      <p class="font-size-subtitle">Programmes / Evenements</p>
      <h1 class="mt-4">Des évènements enrichissant et motivant</h1>
      <p class="font-size-subtitle mt-6">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, ipsa culpa? Totam natus
        voluptates maxime a animi ex fugiat nihil obcaecati, ratione quam perferendis, tempore
        mollitia amet consequuntur, velit veniam?
      </p>
      <button class="primary-button mt-4 w-[150px]">Rejoins-nous</button>
    </div>
  </div>
</section>
